<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sell-own.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" >
    <script src="https://kit.fontawesome.com/ea592f04e6.js" crossorigin="anonymous"></script>
    <title>Vender un producto</title>
</head>
<body>

    <header class="main-header">

        <div class="main-header-top-bar">
            <a href="/">
                <img src="/img/logo-mercado-liebre.svg" class="logo">
            </a>
            
            <div class="searchbar">
                <input type="text">
                    <a href="#">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
            </div>
            
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="menu-burger">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/creatucuenta">
                    Crea tu cuenta <i class="fa-solid fa-address-card"></i>
                </a></li>
                <li><a href="/ingresa">
                    Ingresa <i class="fa-solid fa-user"></i>
                </a></li>
                <li><a href="#">
                    Mis compras <i class="fa-solid fa-basket-shopping"></i>
                </a></li>
            </ul>
        </nav>

    </header>
    <h3 class="titulopag">Vender un producto</h3>
    
    <section class="container">
        
        <div class="product contenedorimagen">
            <h2>RTX 3090</h2>
            <img src="/img/rtx3090.jpg" alt="">
            
        </div>
        <form action="/crear-producto" method="POST">
            
            <div class="control">
                <label>Titulo de la Publicacion:</label>
                <input type="text" name="nombre">
            </div>
            <div class="control">
                <label for="precio">Precio:</label>
                <input type="text" name="precio" id="precio" placeholder="$ 1234.56">
            </div>
            <div class="control">
                <label for="categoria">Categoria:</label>
                <select name="categoria" id="categoria">
                    <option value="cet" selected>Categoría de prueba</option>
                </select>
            </div>
            <div class="descripcion">
                <label for="descricpion">Descripción del producto:</label>
                <textarea name="descripcion" id="descripcion" rows="10"></textarea>
            </div>
            <div class="botones">
                <button type="submit" class="boton">Publicar</button>
                <button type="button" class="boton">Guardar sin publicar</button>
            </div>
            

        </form>
       
        
    </section>

    <footer>
        <div class="footer-box">
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <h6>Con Mercadoliebre cash tenes cuotas sin interes <br> ¡Y siempre es seguro!</h6>
            </div>
            <div>
                <i class="fa-solid fa-shield-halved"></i>
                <h3>Seguridad, de principio a fin</h3>
                <h6>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegido.</h6>
            </div>
            <div>
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 4.000</h3>
                <h6>Solo por estar registrado en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</h6>
            </div>
        </div>
    </footer>

</body>
</html>